#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    background: white;
    color: black;
}
.App{
  padding-bottom: 50px;
}
.menusContainer{
  display: flex;
    flex-direction: row;
    gap: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px;
    border-radius: 5px;
}
.menuGeneral {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.taskwin {
    text-align: center;
    padding-bottom: 10em;
}

.discrimTarget {
  min-width: 200px;
  margin: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.discrimTarget:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  cursor:pointer;
}
.discrimTargetSelected {
  min-width: 200px;
  margin: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  font-weight: bold;
  background-color: bisque;
}
/* DEFILEMENT */



/* Footer*/
.footer-container {
    font-size: 0.8em;
    color: white;
    background-color: rgba(79, 93, 115, 255);
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center; 
}
.footer-container a {
    color: white;
}
.footer-container a:hover {
  color:indianred;
}



@media screen and (max-width: 600px) {
  .menusContainer{
    display: flex;
      flex-direction: column;
      box-shadow: none;
  }
}

